*.gem
*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
rake-config-local.rb
global-stack-config.rb
cookbooks
*cookbooks
cookbooks/*
data_bags
data_bags/*
roles
roles/*
environments
environments/*
sims
sims/*
.chef
.vagrant
Manifest.yml
.rake_tasks~
config/aws-config.yml
vendor
.vendor
data_bags/logstash/dev-aws-ue1.json
data_bags/logstash/dev-rackspace-dfw.json
data_bags/logstash/vagrant.json
.watsonrc

# YARD artifacts
.yardoc
_yardoc
doc/
*.orig
.kitchen/
.kitchen.local.yml
.coverage

bekeys/be_chef_key
.DS_Store
*.vagrant
