# At the top of your Berksfile include add a load statement for this file.
# Ex:
#
#   load 'Berksfile.config'
#
# Add 'load_source' to the top of your Berksfile to use
# any cookbook sources defined here
#
# There is a new method for requiring our cookbooks. The
# following examples show you how to set up your Berksfile.
#
# Examples:
# behance_cookbook 'bebootstrap, path: '../bebootstrap'
# behance_cookbook 'bebootstrap, '~> 2.0.0', path: '../bebootstrap'
# behance_cookbook 'random', git: 'giturl', ref: 'ref_number'

BERKS_API_URL = 'http://api.berkshelf.com/'

def load_source
  source BERKS_API_URL
end

def bossjones_cookbook(name, version = '>= 0.0.0', options = {})
  if version.is_a?(Hash) && options.empty?
    options = version
    version = '>= 0.0.0'
  end

  if ENV['TEST_ENV'] == 'jenkins' || ENV['TEST_ENV'] == 'chef_api'
    source = clear_attr(options, [:path, :git, :ref])
  else
    source = options
  end

  cookbook(name, version, source)
end

# Remove an attribute from a Hash
def clear_attr(hash = {}, attributes = [])
  attributes.each do |attr|
    hash.reject { |k,v| k == attr }
  end
end
