*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
rake-config-local.rb
global-stack-config.rb
cookbooks
cookbooks/*
.chef
.vagrant
Manifest.yml
.rake_tasks~

# YARD artifacts
.yardoc
_yardoc
doc/
*.lock
*.orig
/*.DS_Store
Berksfile
Vagrantfile
